<mz-navbar [navbarClass]="'header-template'">
  <a class="brand-logo center">
    <span>Ng2-Image-Viewer Showcase</span>
  </a>
</mz-navbar>

<div class="container-image-viewer">

  <div style="display: flex; justify-content: space-around; width: 100%">
    <app-image-viewer style="width: 60%"
                      [images]="images"
                      [idContainer]="'demo'"
                      [loadOnInit]="true"
                      [defaultDownloadName]="formGroup.get('defaultDownloadName').value">

    </app-image-viewer>
    <form [formGroup]="formGroup" style="width: 35%">
      <mz-input-container class="col s12 m12 l12">

        <input mz-input mz-validation type="color"
               formControlName="primaryColor"
               (change)="changePrimaryColor()"
               [label]="'Primary Color'"
               style="width: 100%">
      </mz-input-container>
      <mz-input-container class="col s12 m12 l12">
        <input mz-input mz-validation type="color"
               formControlName="buttonsColor"
               (change)="changeButtonsColor()"
               [label]="'Buttons Color'"
               style="width: 100%">
      </mz-input-container>
    </form>
  </div>

</div>


