<mz-navbar [navbarClass]="'header-template'">
  <a class="brand-logo center">
    <span>Ng2-Image-Viewer Showcase</span>
  </a>
</mz-navbar>

<div class="container-image-viewer">

  <div class="row">
    <app-image-viewer class="col s12 m8"
                      [images]="images"
                      [idContainer]="'demo'"
                      [loadOnInit]="true"
                      [primaryColor]="formGroup.get('primaryColor').value"
                      [buttonsColor]="formGroup.get('buttonsColor').value"
                      [buttonsHover]="formGroup.get('buttonsHover').value"
                      [download]="formGroup.get('download').value"
                      [fullscreen]="formGroup.get('fullscreen').value"
                      [rotate]="formGroup.get('rotate').value"
                      [showOptions]="formGroup.get('options').value"
                      [defaultDownloadName]="formGroup.get('defaultDownloadName').value">

    </app-image-viewer>
    <form [formGroup]="formGroup" class="col s12 m4 row">
      <mz-input-container class="col s4">

        <input mz-input mz-validation type="color"
               formControlName="primaryColor"
               [label]="'Primary Color'">
      </mz-input-container>
      <mz-input-container class="col s4">
        <input mz-input mz-validation type="color"
               formControlName="buttonsColor"
               [label]="'Buttons Color'">
      </mz-input-container>
      <mz-input-container class="col s12 m12 l12">
        <input mz-input mz-validation type="text"
               formControlName="defaultDownloadName"
               [label]="'Default download name: '">
      </mz-input-container>
      <mz-checkbox-container class="col s12 m12 l12">
        <input mz-checkbox type="checkbox"
               formControlName="download"
               filledIn="true"
               id="download"
               [label]="'Show download option.'">
      </mz-checkbox-container>
      <mz-checkbox-container class="col s12 m12 l12">
        <input mz-checkbox type="checkbox"
               formControlName="fullscreen"
               id="fullscreen"
               filledIn="true"
               [label]="'Show fullscreen option.'">
      </mz-checkbox-container>
      <mz-checkbox-container class="col s12 m12 l12">
        <input mz-checkbox type="checkbox"
               formControlName="rotate"
               id="rotate"
               filledIn="true"
               [label]="'Show rotate option.'">
      </mz-checkbox-container>
      <mz-checkbox-container class="col s12 m12 l12">
        <input mz-checkbox type="checkbox"
               formControlName="options"
               id="options"
               filledIn="true"
               [label]="'Show options.'">
      </mz-checkbox-container>
    </form>
  </div>

</div>


