<div id="{{idContainer}}" class="image-gallery-2">
    <div class="image-container"></div>
    <div class="inline-icon" *ngIf="showOptions">
        <a (click)="rotacionarDireita()" *ngIf="rotate">
            <i class="material-icons footer-icon">rotate_right</i>
        </a>
        <a (click)="rotacionarEsquerda()" *ngIf="rotate">
            <i class="material-icons footer-icon">rotate_left</i>
        </a>
        <a (click)="resetarZoom()" *ngIf="resetZoom">
            <i class="material-icons footer-icon">fullscreen_exit</i>
        </a>
        <a (click)="mostrarFullscreen()"  *ngIf="fullscreen">
            <i class="material-icons footer-icon">fullscreen</i>
        </a>
        <a href="{{stringDownloadImagem}}"
           download="{{defaultDownloadName}} {{indexImagemAtual}}.png"
           *ngIf="download">
            <i class="material-icons footer-icon">file_download</i>
        </a>
    </div>
    <i class="material-icons prev" (click)="imagemAnterior()">keyboard_arrow_left</i>
    <i class="material-icons next" (click)="proximaImagem()">keyboard_arrow_right</i>
    <div class="footer-info">
        <span class="current"></span>/<span class="total"></span>
    </div>
</div>
